#container {
    display: grid;
    justify-content: center;
    margin: auto;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
    width: 550px;
    height: 550px;
    border: black solid 8px;
}

.cell {
    display: flex;
    padding: 3px;
    border: 1px solid black;
    background-color: rgb(212, 211, 211);
}

button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    background-color: rgb(172, 172, 255);
}

button:hover {
    background-color: rgb(60, 60, 255);
}

/*
:root {
    --numCols: 1;
    --numRows: 1;
}
*/